.pageContainer {
  background: rgb(254, 247, 226);
  height: 100vh;
  overflow: auto;
}

#content {
  padding: 15px;
}

.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
